# Values for ovn-kubernetes with single-node zone interconnect for DPU cluster
# Requires: ovnkube-single-node-zone-dpu only

# -- The following subcharts should be disabled
tags:
  ovs-node: false
  ovn-ipsec: false
  ovnkube-db: false
  ovnkube-db-raft: false
  ovnkube-master: false
  ovnkube-node: false
  ovnkube-control-plane: false
  ovnkube-node-dpu-host: false
  ovnkube-node-dpu: false
  ovnkube-single-node-zone: false
  ovnkube-zone-controller: false

# -- Whether or not call `lookup` Helm function, set it to `true` if you want to run `helm dry-run/template/lint`
skipCallToK8s: false

global:
  # -- The interface on nodes that will be used for external gateway network traffic
  extGatewayNetworkInterface: ""
  # -- GENEVE UDP port (default 6081)
  encapPort: 6081
  # -- The gateway mode (shared or local), if not given, gateway functionality is disabled
  gatewayMode: shared
  # -- Optional extra gateway options
  gatewayOpts: ""
  # -- This allows ovnkube-node to run without SYS_ADMIN capability, by performing interface setup in the CNI plugin
  unprivilegedMode: false
  # -- The v4 join subnet used for assigning join switch IPv4 addresses
  v4JoinSubnet: "100.64.0.0/16"
  # -- The v4 masquerade subnet used for assigning masquerade IPv4 addresses
  v4MasqueradeSubnet: "169.254.0.0/17"
  # -- The v4 subnet for transit switches and routers
  v4TransitSubnet: "100.88.0.0/16"
  # -- The v6 join subnet used for assigning join switch IPv6 addresses
  v6JoinSubnet: "fd98::/64"
  # -- The v6 masquerade subnet used for assigning masquerade IPv6 addresses
  v6MasqueradeSubnet: "fd69::/112"
  # -- The v6 subnet for transit switches and routers
  v6TransitSubnet: "fd97::/64"
  # -- Whether or not enable ovnkube identity webhook
  enableOvnKubeIdentity: false
  # -- Whether or not to enable hybrid overlay functionality
  enableHybridOverlay: ""
  # -- A comma separated set of IP subnets and the associated hostsubnetlengths (eg, \"10.128.0.0/14/23,10.0.0.0/14/23\") to use with the extended hybrid network
  hybridOverlayNetCidr: ""
  # -- Whether or not to use Admin Network Policy CRD feature with ovn-kubernetes
  enableAdminNetworkPolicy: false
  # -- Configure to use EgressIP CRD feature with ovn-kubernetes
  enableEgressIp: false
  # -- Configure EgressIP node reachability using gRPC on this TCP port
  egressIpHealthCheckPort: 9107
  # -- Configure to use EgressService CRD feature with ovn-kubernetes
  enableEgressService: false
  # -- Configure to use EgressFirewall CRD feature with ovn-kubernetes
  enableEgressFirewall: false
  # -- Configure to use EgressQoS CRD feature with ovn-kubernetes
  enableEgressQos: false
  # -- Enables network QoS support from/to pods
  enableNetworkQos: false
  # -- Enables multicast support between the pods within the same namespace
  enableMulticast: ""
  # -- Configure to use multiple NetworkAttachmentDefinition CRD feature with ovn-kubernetes
  enableMultiNetwork: false
  # -- Configure to use user defined networks (UDN) feature with ovn-kubernetes
  enableNetworkSegmentation: false
  # -- Configure to enable workloads with preconfigured network connect to user defined networks (UDN) with ovn-kubernetes
  enablePreconfiguredUDNAddresses: false
  # -- Configure to enable IPsec
  enableIpsec: false
  # -- Use SSL transport to NB/SB db and northd
  enableSsl: false
  # -- Configure to enable interconnecting multiple zones
  # @default -- true
  enableInterconnect: true
  # -- Configure to use AdminPolicyBasedExternalRoute CRD feature with ovn-kubernetes
  enableMultiExternalGateway: false
  # -- Configure to use stateless network policy feature with ovn-kubernetes
  enableStatelessNetworkPolicy: false
  # -- Configure to use service template feature with ovn-kubernetes
  enableSvcTemplate: false
  # -- Enables metrics related to scaling
  enableMetricsScale: ""
  # -- Enables monitoring OVN-Kubernetes master and OVN configuration duration
  enableConfigDuration: ""
  # -- Indicates if ovn-controller should enable/disable the logical flow in-memory cache when processing Southbound database logical flow changes
  # @default -- true
  enableLFlowCache: true
  # -- Maximum number of logical flow cache entries ovn-controller may create when the logical flow cache is enabled
  # @default -- unlimited
  lFlowCacheLimit: ""
  # -- Maximum size of the logical flow cache (in KB) ovn-controller may create when the logical flow cache is enabled
  lFlowCacheLimitKb: ""
  # -- Configure to use the IPAMClaims CRD feature with ovn-kubernetes, thus granting persistent IPs across restarts / migration for KubeVirt VMs
  enablePersistentIPs: false
  # -- Configure to use DNSNameResolver feature with ovn-kubernetes
  enableDNSNameResolver: false
  # -- Whether to disable SNAT of egress traffic in namespaces annotated with routing-external-gws
  disableSnatMultipleGws: ""
  # -- Controls if forwarding is allowed on OVNK controlled interfaces
  # @default -- false
  disableForwarding: ""
  # -- Disables adding openflow flows to check packets too large to be delivered to OVN due to pod MTU being lower than NIC MTU
  disablePacketMtuCheck: ""
  # -- The largest number of messages per second that gets logged before drop
  # @default 20
  aclLoggingRateLimit: 20
  # -- If set, then load balancers do not get deleted when all backends are removed
  emptyLbEvents: ""
  # -- Port of north bound ovsdb
  nbPort: 6641
  # -- Port of south bound ovsdb
  sbPort: 6642
  # -- A comma separated set of NetFlow collectors to export flow data
  netFlowTargets: ""
  # -- A comma separated set of SFlow collectors to export flow data
  sflowTargets: ""
  # -- A comma separated set of IPFIX collectors to export flow data
  ipfixTargets: ""
  # -- Rate at which packets should be sampled and sent to each target collector
  # @default 400
  ipfixSampling: ""
  # -- Maximum number of IPFIX flow records that can be cached at a time
  # @default 0, meaning disabled
  ipfixCacheMaxFlows: ""
  # -- Maximum period in seconds for which an IPFIX flow record is cached and aggregated before being sent
  # @default 60
  ipfixCacheActiveTimeout: ""
  # -- OVN remote probe interval in ms
  # @default 100000
  remoteProbeInterval: 100000
  # -- Enable monitoring all data from SB DB instead of conditionally monitoring the data relevant to this node only
  # @default true
  monitorAll: true
  # -- ovn-controller wait time in ms before clearing OpenFlow rules during start up
  # @default 0
  ofctrlWaitBeforeClear: "0"
  # -- Container images
  # -- Image for DPUs
  dpuImage:
    # -- Image repository for ovn-kubernetes components
    repository: ghcr.io/ovn-kubernetes/ovn-kubernetes/ovn-kube-ubuntu
    # -- Specify image tag to run
    tag: master
    # -- Image pull policy
    pullPolicy: IfNotPresent
  # -- The name of secret used for pulling image. Use only if needed
  imagePullSecretName: ""
  # -- Endpoint of DPU Host cluster's Kubernetes api server
  dpuHostClusterK8sAPIServer: https://172.25.0.2:6443
  # -- DPU Host cluster's Kubernetes Access Token
  dpuHostClusterK8sToken: ""
  # -- DPU Host cluster's Kubernetes Access Certs Data
  dpuHostClusterK8sCACertData: ""
  # -- DPU Host cluster's Kubernetes Access Token File
  dpuHostClusterK8sTokenFile: ""
  # -- DPU Host cluster's Kubernetes Access Certs File
  dpuHostClusterK8sCACert: ""
  # -- DPU Host cluster's Network CIDR
  dpuHostClusterNetworkCIDR: 10.244.0.0/16/24
  # -- DPU Host cluster's Service CIDR
  dpuHostClusterServiceCIDR: 10.96.0.0/16
  # -- MTU of network interface in a Kubernetes pod
  mtu: 1400

# -- prometheus monitoring related fields
monitoring:
  # -- specify the labels for serviceMonitors to be selected for target discovery.
  # Prometheus operator defines what namespaces and what servicemonitors within these
  # namespaces must be selected for target discovery. The fields defined below helps
  # in defining that.
  commonServiceMonitorSelectorLabels:
    release: kube-prometheus-stack
